---
import Footer from '../components/Footer.tsx';
import Header from '../components/Header.tsx';
import Contact from '../components/sections/Contact/Contact.astro';
import FAQ from '../components/sections/FAQ/Faq.tsx';
import Features from '../components/sections/Features/Features.tsx';
import Hero from '../components/sections/Hero.tsx';
import Pricing from '../components/sections/Pricing/Pricing.tsx';
import ProjectShowcase from '../components/sections/Projects/ProjectShowcase.tsx';
import Testimonials from '../components/sections/Testimonials/Testimonials';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header client:visible />
  <main>
    <Hero />
    <Features client:visible />
    <ProjectShowcase client:visible />
    <Testimonials client:visible />
    <Pricing client:visible />
    <FAQ client:visible />
    <Contact />
  </main>
  <Footer />
</Layout>
