---
import Footer from '../components/Footer.tsx';
import Header from '../components/v2/Header';
import CtaSection from '../components/v2/sections/CtaSection.astro';
import Features from '../components/v2/sections/Features';
import Hero from '../components/v2/sections/Hero.astro';
import HowItWorks from '../components/v2/sections/HowItWorks';
import Testimonials from '../components/v2/sections/Testimonials';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header client:visible />
  <main>
    <Hero />
    <Features />
    <HowItWorks />
    <Testimonials client:visible />
    <CtaSection />
  </main>
  <Footer />
</Layout>
